# Dependências
/node_modules/

# Arquivos de build
/build/

# Arquivos de log
*.log
npm-debug.log*

# Editor configs
.vscode/
.idea/

# Sistema de arquivos (macOS)
.DS_Store

# Arquivos de lock do npm
package-lock.json
yarn.lock
